*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
}

/* ------------------ navigation bars ------------------ */
.navbar1, .navbar2{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center; 
    position: sticky;
    justify-content: space-between;
}
/* ------------------ navigation bar 1 ------------------ */
.navbar1{
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white;
}
.navbar1div1{
    margin-left: 3%;
}
.navbar1 i,.navbar1 h1,.navbar1 h3{
    display: inline-block;
    padding: 0.6rem;
}
.navbar1div1 i, .navbar1div1 h1{
    font-size: 100%;
}
.navbar1div2{
    margin-right: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar1div2 h3{
    font-size: 80%;
}
.circle{
    background-color: black;
    width:25px;
    height:25px;
    border-radius: 50%;
    display:flex;
    justify-content:center ;
    align-items: center;
}
.circle h3{
    color: white;
    position: absolute;
}

/* ------------------ navigation bar 2 ------------------ */

.navbar2{
    background-color: black;
}
.navbar2div1{
    margin-left: 3%;
    height:100%;
    display:flex;
    align-items: center;
}
.navbar2div1 i{
    padding: 0.6rem;
}
.navbar2div1 select{
    display: inline-block;
    background-color: grey;
    height: 60%;
    margin-left: 0.3rem;
    padding: 0.3rem;
}
.navbar2div1 select option{
    border-color: grey;
}
.navbar2div2{
    margin-right: 3%;
}
.sortby{
    color:white;
    font-size:85%;
}


/* section{
    height:100%;
    width: 80%;
    margin: 2% auto;
}
.card {
    box-shadow: 0 4px 4px 0 grey;
    width: 20%;
    height: 40%;
    text-align: center;
}
.price {
    color: grey;
    font-size: 22px;
}
.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
.card button:hover {
    opacity: 0.7;
}
.star-img {
    height: 14px;
}
.rating {
    color: grey;
}  */
/* ----------------------------------------------- */
.image-container {
    display: flex;
    flex-wrap: wrap;
  }
  .image-container .image-card {
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
  }
  .image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }